<html>
    <head>
        
    </head>
    
    <body>
        Registration
        <span>{{error}}</span>
        <form action="/register" method="POST">
            <label for="username">UserName</label>
            <input type="text" name="username"  id="username"/>
            
            <br />
            <label for="email">Email</label>
            <input type="text" name="email"  id="email"/>
            
            
            <br />
            <label for="displayname">Display Name</label>
            <input type="text" name="displayname"  id="displayname"/>
            
            <br />
            <label for="password">password</label>
            <input type="password"  id="password"  name="password" />
            
            <input type="submit" />
        </form>
    </body>
</html>